# DataFrame Functions - multiple ways to Calculate the Sum of Columns in Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('example_data.csv')

In [3]:
df.head()

   CLOSE   HIGH    LOW   OPEN
0  16031  16031  16016  16018
1  16006  16039  16006  16018
2  16033  16033  16005  16018
3  16007  16034  16007  16018
4  15994  16008  15994  16007

# Find the sum of of a single column
with the following syntax:

In [4]:
df['CLOSE'].sum()

1132715

Fortunately The sum() function will exclude NAâ€™s by default.

# Find the sum of Multiple Columns
by using the following synta

In [5]:
#find sum of minPnl	maxPnl columns
df[['CLOSE', 'OPEN']].sum()

CLOSE    1132715
OPEN     1132747
dtype: int64

# Find the sum of all columns
by using the following syntax:

In [6]:
#find sum of all columns in DataFrame
df.sum()

CLOSE    1132715
HIGH     1133629
LOW      1131846
OPEN     1132747
dtype: int64

For columns that are not numeric, the sum() function will simply not calculate the sum of those columns.