# Descriptive Statistics - How to compute a  Z-Score in Python

Import modules.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df = pd.read_csv('example_data.csv')

In [3]:
df.shape

(71, 4)

In [4]:
df.head()

   CLOSE   HIGH    LOW   OPEN
0  16031  16031  16016  16018
1  16006  16039  16006  16018
2  16033  16033  16005  16018
3  16007  16034  16007  16018
4  15994  16008  15994  16007

We can use the apply function to calculate the z-score of individual values by column:

In [5]:
df.apply(stats.zscore)

       CLOSE      HIGH       LOW      OPEN
0   1.349053  1.164475  1.325339  1.165305
1   0.912566  1.309143  1.147458  1.165305
2   1.383972  1.200642  1.129670  1.165305
3   0.930025  1.218725  1.165246  1.165305
4   0.703052  0.748555  0.934001  0.964444
..       ...       ...       ...       ...
66 -1.968250 -1.819301 -1.787579 -1.829357
67 -2.212682 -2.162888 -2.036612 -2.084999
68 -1.758736 -2.054387 -2.143341 -2.084999
69 -2.212682 -1.855468 -2.036612 -2.084999
70 -1.741276 -2.036303 -2.125553 -2.084999

[71 rows x 4 columns]

The z-scores for each individual value are now shown in each column