# How to calculate Cumulative Average in Python

- QTS ALGO: youtube: https://bit.ly/38FhGyl

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('time_series.csv')

In [3]:
df.head()

   CLOSE   HIGH    LOW   OPEN    CLOSE_MEAN
0  16031  16031  16016  16018  16031.000000
1  16006  16039  16006  16018  16018.500000
2  16033  16033  16005  16018  16023.333333
3  16007  16034  16007  16018  16019.250000
4  15994  16008  15994  16007  16014.200000

In [4]:
#calculate the cumalative average of the  'HIGH' column
df['HIGH_MEAN'] = df['HIGH'].expanding().mean()

In [5]:
df.head()

   CLOSE   HIGH    LOW   OPEN    CLOSE_MEAN     HIGH_MEAN
0  16031  16031  16016  16018  16031.000000  16031.000000
1  16006  16039  16006  16018  16018.500000  16035.000000
2  16033  16033  16005  16018  16023.333333  16034.333333
3  16007  16034  16007  16018  16019.250000  16034.250000
4  15994  16008  15994  16007  16014.200000  16029.000000