# Linear Regression

QTS ALGO: youtube: https://bit.ly/38FhGyl

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('BTC-USD.csv')

In [5]:
df

           Date          Open          High           Low         Close
0    2021-05-26  38392.625000  40782.078125  37905.835938  39294.199219
1    2021-05-27  39316.890625  40379.617188  37247.902344  38436.968750
2    2021-05-28  38507.082031  38856.968750  34779.039063  35697.605469
3    2021-05-29  35684.156250  37234.500000  33693.929688  34616.066406
4    2021-05-30  34607.406250  36400.667969  33520.738281  35678.128906
..          ...           ...           ...           ...           ...
361  2022-05-22  29432.472656  30425.861328  29275.183594  30323.722656
362  2022-05-23  30309.396484  30590.585938  28975.560547  29098.910156
363  2022-05-24  29101.125000  29774.355469  28786.589844  29655.585938
364  2022-05-25  29653.134766  30157.785156  29384.949219  29562.361328
365  2022-05-26  29568.257813  29833.412109  28291.011719  29526.802734

[366 rows x 5 columns]

In [ ]:
plt.scatter(df.Open, df.Close)
plt.title('Bitcoin Open: Close price')
plt.xlabel('Open')
plt.ylabel('Close')
plt.show()

In [ ]:
df.boxplot(column=['Close'])

In [ ]:
import statsmodels.api as sm

#response variable
y = df['Open']

#explanatory variable
x = df[['Close']]

#add constant to predictor variables
x = sm.add_constant(x)

#fit linear reg model
model = sm.OLS(y, x).fit()

#view model summary
print(model.summary());

# Create Residual Plots

In [ ]:
#figure size
fig = plt.figure(figsize=(12,8))

#residual plots
fig = sm.graphics.plot_regress_exog(model, 'Close', fig=fig)

# Create Q-Q plot

In [ ]:
#define residuals
res = model.resid_pearson

#QQ plot
fig = sm.qqplot(res, fit=True, line="45")
plt.show();